<html>
<head>
 <style>
 table, th, td {
   border: 2px solid black;
   border-collapse: collapse;
 }
 </style>
 </head>
 <body>
<p> Dear Sir/Mam,
<br><br>Please find enclosed here with IGOT Daily Status Report Dated hrs.</p>
 <table style=width:100%>
   <tr>
     <th>S.No.</th>
     <th>Information Details</th>
     <th>Counts</th>
   </tr>
   <tr>
     <td style="text-align:center">1.</td>
     <td>Central Ministries Onboarded</td>
     <td style="text-align:center" > {{central_ministries}} </td>
   </tr>
   <tr>
     <td style="text-align:center">2.</td>
     <td>Department/Organisations Onboarded</td>
     <td style="text-align:center" > {{ department_organisations_onboarded }} </td>
   </tr>
   <tr>
     <td style="text-align:center">3.</td>
     <td>States/UTs Onboarded (with registered users)</td>
     <td style="text-align:center" > {{state_ut}} </td>
   </tr>
   <tr>
     <td style="text-align:center">4.</td>
     <td>Course Publishers</td>
     <td style="text-align:center" > {{ course_publishers }}  </td>
   </tr>
   <tr>
     <td style="text-align:center">5.</td>
     <td>Courses Published</td>
     <td style="text-align:center" > {{ courses_published }} </td>
   </tr>
   <tr>
     <td style="text-align:center">6.</td>
     <td>Events Published</td>
     <td style="text-align:center" > {{ dashboard_events_published_count }} </td>
   </tr>
   <tr>
     <td style="text-align:center">7.</td>
     <td>Duration of Courses Published (Hours)</td>
     <td style="text-align:center" > {{ course_duration | float | int }} </td>
   </tr>
   <tr>
     <td style="text-align:center">8.</td>
     <td>Course Enrolments</td>
     <td style="text-align:center" > {{ course_enrolments }} </td>
   </tr>
   <tr>
     <td style="text-align:center">9.</td>
     <td>Course Completions</td>
     <td style="text-align:center" > {{ course_completions }} </td>
   </tr>
   <tr>
     <td style="text-align:center">10.</td>
     <td>Event Enrolments</td>
     <td style="text-align:center" > {{ dashboard_events_enrolment_count }} </td>
   </tr>
   <tr>
     <td style="text-align:center">11.</td>
     <td>Event Completions</td>
     <td style="text-align:center" > {{ dashboard_events_completed_count }} </td>
   </tr>
   <tr>
     <td style="text-align:center">12.</td>
     <td>Users Registered</td>
     <td style="text-align:center" > {{ user_count }} </td>
   </tr>
   <tr>
     <td style="text-align:center">13.</td>
     <td>New User Registrations yesterday</td>
     <td style="text-align:center" > {{ newuser_registrations_yesterday }} </td>
   </tr>
   <tr>
     <td style="text-align:center">14.</td>
     <td>User Logged in yesterday</td>
     <td style="text-align:center" > {{ user_loggedin_yesterday }} </td>
   </tr>
   <tr>
     <td style="text-align:center">15.</td>
     <td>Users Enrolled in at least one course</td>
     <td style="text-align:center" > {{ users_enrolledin_atleast_one_course }} </td>
   </tr>



</body>
</html>
<br>

