tickTime={{ tick_time }}
dataDir={{ zookeeper_data_dir }}
dataLogDir={{ zookeeper_data_dir }}
clientPort={{ client_port }}
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}
maxClientCnxns={{ maxclinetconnection_limit }}
admin.enableServer={{ admin_enableserver | default('false') }}
admin.serverPort=8081
{% if zookeeper_group | length > 1 %}
{% for host in zookeeper_group %}
server.{{server_id}}={{ host }}:2888:3888
{% endfor %}
{% endif %}