#!/usr/bin/env bash

export SPARK_HOME={{ analytics.home }}/spark-{{ spark_version }}-bin-hadoop2.7
export MODELS_HOME={{ analytics.home }}/models-{{ model_version }}
export DP_LOGS={{ analytics.home }}/logs/data-products
## Job to run daily
cd {{ analytics.home }}/scripts
source model-config.sh
today=$(date "+%Y-%m-%d")

mongo_host={{ mongo_node_bb_host }}

if [ ! -z "$1" ]; then job_id=$1; fi

if [ ! -z "$1" ]; then job_config=$(config $1 $2); else job_config="$2"; fi

echo "Starting the job - $1" >> "$DP_LOGS/$today-job-execution.log"

echo "Job modelName - $job_id" >> "$DP_LOGS/$today-job-execution.log"

nohup $SPARK_HOME/bin/spark-submit --master local[*] --conf spark.sql.caseSensitive=true --conf spark.mongodb.input.uri=mongodb://$mongo_host/Nodebb.Objects --jars $MODELS_HOME/analytics-framework-2.0.jar,$MODELS_HOME/scruid_2.11-2.4.0.jar,$MODELS_HOME/batch-models-2.0.jar --class org.ekstep.analytics.job.JobExecutor $MODELS_HOME/batch-models-2.0.jar --model "$job_id" --config "$job_config" >> "$DP_LOGS/$today-job-execution.log" 2>&1

echo "Job execution completed - $1" >> "$DP_LOGS/$today-job-execution.log"
