analytics_user: analytics
analytics_group: analytics
spark_output_temp_dir: /mount/data/analytics/tmp/

bucket: "telemetry-data-store"
secor_bucket: "telemetry-data-store"
dp_object_store_type: "cephs3"
dp_raw_telemetry_backup_location: "secor-{{ env }}/unique/raw/"
dp_storage_key_config: "aws_storage_key"
dp_storage_secret_config: "aws_storage_secret"
dp_reports_storage_key_config: "aws_storage_key"
dp_reports_storage_secret_config: "aws_storage_secret"

s3_storage_endpoint: "{{ s3_storage_endpoint }}"
s3_storage_key: "{{ s3_storage_key }}"
s3_storage_secret: "{{ s3_storage_secret }}"

kafka_broker_host: "{{groups['processing-cluster-kafka'][0]}}:9092"
ingestion_kafka_broker_host: "{{groups['ingestion-cluster-kafka'][0]}}:9092"
brokerlist: "{{groups['processing-cluster-kafka']|join(':9092,')}}:9092"
zookeeper: "{{groups['processing-cluster-zookeepers']|join(':2181,')}}:2181"
dp_username: dp-monitor
analytics_job_queue_topic: "{{ env }}.analytics.job_queue"
topic: "{{ env }}.telemetry.derived"
analytics_metrics_topic: "{{ env }}.analytics_metrics"
sink_topic: "{{ env }}.telemetry.sink"
assess_topic: "{{ env }}.telemetry.assess"
metrics_topic: "{{ env }}.telemetry.metrics"

dashboards_courses_topic: "{{ env }}.dashboards.course"
dashboards_role_count_topic: "{{ env }}.dashboards.role.count"
dashboards_org_role_count_topic: "{{ env }}.dashboards.org.role.count"
dashboards_user_course_program_progress_topic: "{{ env }}.dashboards.user.course.program.progress"
dashboards_frac_competency_topic: "{{ env }}.dashboards.competency.frac"
dashboards_course_competency_topic: "{{ env }}.dashboards.competency.course"
dashboards_expected_competency_topic: "{{ env }}.dashboards.competency.expected"
dashboards_declared_competency_topic: "{{ env }}.dashboards.competency.declared"
dashboards_competency_gap_topic: "{{ env }}.dashboards.competency.gap"
dashboards_user_org_topic: "{{ env }}.dashboards.user.org"
dashboards_user_assessment_topic: "{{ env }}.dashboards.user.assessment"
dashboards_assessment_topic: "{{ env }}.dashboards.assessment"
dashboards_cassandra_user_table: "user"
dashboards_cassandra_user_roles_table: "user_roles"
dashboards_cassandra_org_table: "organisation"
dashboards_cassandra_user_enrolments_table: "user_enrolments"
dashboards_cassandra_content_hierarchy_table: "content_hierarchy"
dashboards_cassandra_rating_summary_table: "ratings_summary"
dashboards_cassandra_ratings_table: "ratings"
dashboards_cassandra_user_assessment_table: "user_assessment_data"
dashboards_cassandra_org_hierarchy_table: "org_hierarchy"
dashboards_cassandra_course_batch_table: "course_batch"

dashboards_frac_backend_host: "frac-dictionary-backend.igot-{{ env }}.in"
dashboards_broker_compression: "none"
dashboards_redis_host: "{{ redis_host }}"
dashboards_redis_port: "6379"
dashboards_redis_db: "12"
dashboards_redis_registered_officer_count_key: "mdo_registered_officer_count"
dashboards_redis_total_officer_count_key: "mdo_total_officer_count"
dashboards_redis_org_name_key: "mdo_name_by_org"
dashboards_redis_total_registered_officer_count_key: "mdo_total_registered_officer_count"
dashboards_redis_total_org_count_key: "mdo_total_org_count"

user_report_path: "standalone-reports/user-report"
user_enrolment_report_path: "standalone-reports/user-enrollment-report"
course_report_path: "standalone-reports/course-report"
cba_report_path: "standalone-reports/cba-report"
standalone_assessment_report_path: "standalone-reports/user-assessment-report-cbp"
tagged_users_path: "tagged-users/"

report_mdo_ids: "0136060787211714564847,0136003361351270407007,013793548618203136187,01381271433752576036,013793598071562240296,013417171898122240115,01341081529829785612,013616592545947648401,013793522195193856141,01364161289411788817940,01341209715000115258,0135502308469719041001,0136048409868288007707,0138114068734033921252,0135997900135055367644,013793516374073344155,01368603384548556812229,01341208111149875242,01382754550888038413054,013812733720190976150,013568638827937792416,013793512777367552133,0136102950639370249951,0138113914553958401125,013421994704461824827,013812729727492096232,013594775897538560248,01374198275094118410412,013793557396742144199,013793602476335104253,013550223656493056994,0138114049358315521046,013759612859408384146,013812728775811072235,0136856032555663363884,013793594780459008330,013417349346648064190,01383174555083571253673,0135502270820679681002,0135502343884800001009,01381270201115443215,0135346646711500804337,0135809004788940800,013422013684506624833,013589018990059520125,013631090918367232577,0137350027734056967808,0134411594447749123,0136848199609139201517,013793531767529472172,013570773167644672986,013793515954200576196,01355681804123340861,0138467558964920325154,0138022469952389126771,013690216108818432335,013550223392186368995,01384895317622784011861,0136010238924718087513,013793603685081088298,013724363477614592410,013843812898037760423,013843816927109120272,013669777854644224898,013662832100204544684,01384270144823296010540,0136379385335562249487,01358689689246924898,013793598814568448310,01374284622785740810656,0138671680650690569755,01361462978403532831,0133783095823810560,01386806515402342431482,013630391416184832567,0136052396746833924814,0136048676990566403009,0136053195389009927566,01381271269532467272,01351476852294451276,013812733715185664165,01375416142607974414755,013812729734168576148,013793540507344896223,013623127901315072587,01381270974421401694,013614537584197632203,013664735201583104822,013816946419662848850,013793553884839936183,0135369191364116480,0135536987143127041,013793601304346624302,013793545677692928233,013586329688137728133,013793489409998848127,01381270876049408052,0138657884399616009181,0138657918610964489179,0138426935109550089769,01386364601417728021955,01372993653274214410560,013793926323052544510,013593262598193152244,013793526187712512203,013793527603470336154,01364914601082060837,0135502311333232641021,0134326431143936000,013596143362473984277,0135502307998433281018,013793541389287424228,0136704096171786241003,013629479838138368432,013417174826598400125,013664070070362112800,013793601320951808208,013619587009298432517,013550227183403008993,0135042365743759366378,013793540924891136294,013596173201997824229,013793550466883584196,0134822604664586243533,013793514490839040191,01382912526505574428902,01381271026996019234,013620861153419264307,0134001680852664321,01381270180097228816,01383606259748044812174,01358435223144038470,0134801498081607683527,0134822680586076163541,0137984838412206082493,013590658732466176131,01384880854062694410153,01375189452325683212265,01367881903277670411,0138126985699737601,0133872821604761600,0138022482864128006773,0138022446807941127553,013662683951005696787,01355681440917913657,013843822516101120430,0138426165509324804477,01384270320337715210541,01384268637454336010529,013706834747195392109,01382346896800972816267,013793600140165120252,013793601242046464336,01386292977551769620102,01386297368408883219914,013682438267756544198,0138671785359933449759,01341136245758361636,0138664931048488966339,0138022433659535367552,0134447739702476803,0136556148686356487,013793519395397632237,013758892812648448452,01383184225886208065793,01367928902285721657,0135502348119818241010,0135502384753049601025,013688206677614592114,01376812361668198455,013622570987241472576,01341210909012787271,0136703857356308481117,01365658380813107233,013596952457666560294,013594851232989184292,01374965468685926412097,0134822602607902723537,01358138779908505623,013793540822523904219,013793526034817024147,013793518091280384177,01358628300305203267,013812731334877184234,0138134815038177288216,01381271312155443252,01356645047619584046,013618748225306624472,013812730452762624158,013812725521301504144,013662629870297088669,013793554718359552248,01341086150163660826,013550226147295232996,013793529736994816167,01381270646430924826,0138177317931827201158,013680277450407936152,013679706814775296102,0133809553768366080,013793513695961088176,01341211756679987273,01382342760343961616121,0137299785989652487612,0135502333539614721017,01361379728458547216,0138029341134602249998,0133782666818437120,01341209094833766448,013856570457464832252,013621597200834560442,01368751848864972871,0137031449230295041079,0138135009063239688265,01384894897721344011858,013812731386167296241,0137739758995537923229,013843820606234624114,0137992701841162243755,0138427055784755209775,01382927006648729624243,0138426852669194244075,0138426179831562244057,01384268226261811210527,0136748449660764162203,01361377347006464012,013710076479422464318,013694490316333056815,013793604546404352297,013550227710910464992,01386297212410265615155,01375398769371545613106,01386578977325056016647,013793598663761920254,01358346573516800085,013590550868541440214,013793495047528448148,0136052932362649607078,0136853192625111042479,013689667134128128357,01375467677409280017766,013812730304135168143,01368674276396236821,0136059527520256007733,0135502316148080641003,0136053264077946887720,013793555798900736249,013793596792356864251,013812724919042048142,01365655859793100829,013793519356600320194,0136040744089436167049,0136053770199040007726,013592199960969216276,013635742065819648538,013664862701240320730,013793520200359936145,0138114000227614721042,013793518791049216232,013793926351585280559,013812729658015744146,013698074239516672325,013417190749888512140,013689770652835840427,01381417909560934415156,013793532738256896276,013630316383985664476,013793537900019712216,013688066171887616134,0135812923157299208,013689630751621120285,0135502299683143681014,013812726618595328145,0137894328006901766398,0137089219607265282903,01383613311025152012030,01365068400963584098,01381270924395315267,01384270062940160010539,01384268962672640010532,013843815511621632269,013843821284450304270,0138427057662033929773,0135996615331594247494,0134822683072512003539,01386232880362291220033,01386235092035993630325,01365993489956864085,013811290538213376602,0138657910074327049177,0136078223699886084884,0135502408754298881027,01364927208176025663,013422057934061568836,0134822664381808643535,013664883266707456738,0134913087249776646170,0136045931518525447690,0136038864234823682966,01358635373699072089,013618785705959424600,0135502292299776001004,0135502372833034241020,01365657284250009617,0135346165106360324332,0137059066187284486,01364453212254208016244,01364560798818304018150,01341099780408934432,01341289657531596898,01358402228654899294,013618933546754048361,0135502344140963841016,0138128939748638722666,013690887239426048425,0138233995756584968984,013664772312424448928,01384269281854259210537,01384269107017318410531,01384268718288076810528,0138426953621831684078,013623129465708544686,013422003222487040830,01346691669720268818,0136020088283709447036,0136080945439539207127,013812731792187392147,013793550531543040190,01367815455213977636,013628652100255744426,013793544359469056224,0138022505902080008923,01375753608540979214812,0138191431568424961875,0135502275984916481000,013793890736939008420,013793541476089856231,013812724990730240141,0137924892561899523,0136017881495552007526,013715137978163200571,013812731575099392230,013417196267282432142,01358141961379020836,013669087889539072248,0137277984851312643013,0138657893761925129183,0135502275499212801008"

job_manager_tmp_dir: "transient-data"
channel: dev-test
druid_broker_host: "{{groups['raw-broker'][0]}}"
druid_router_host: "{{groups['raw-router'][0]}}"
druid_rollup_broker_host: "{{groups['raw-broker'][0]}}"
hierarchySearchServiceUrl: "{{ proto }}://{{ domain_name }}/action/content"
hierarchySearchServicEndpoint: /v3/hierarchy/

user_table_keyspace: "sunbird"
course_keyspace: "sunbird_courses"
hierarchy_store_keyspace: "{{ env }}_hierarchy_store"
job_request_table: "{{ env }}_job_request"
dataset_metadata_table: "{{ env }}_dataset_metadata"
report_user_table_keyspace: "sunbird_courses"
report_user_enrolment_table: "report_user_enrolments"

analytics_job_list: '"wfs", "competency-metrics", "assessment-metrics", "monitor-job-summ", "user-report-job"'
analytics_jobs_count: 5

cassandra_keyspace_prefix: '{{ env }}_'
report_cassandra_cluster_host: "{{ report_cassandra_host | default(core_cassandra_host) }}"
cassandra_hierarchy_store_keyspace: "{{ env_name}}_hierarchy_store"
spark_version: 2.4.4

heap_memory: "-Xmx5120m"

spark:
  home: "{{ analytics.home }}/spark-{{ spark_version }}-bin-hadoop2.7"
  public_dns: 54.255.154.146
  master:
    url: spark://172.31.11.117:7077
    host: 172.31.11.117
  worker:
    instances: 1
    cores: 12
    memory: 36g
  driver:
    memory: 22g
    cores: 2
    memoryOverhead: 4g
  executor:
    instances: 1
    cores: 12
    memory: 28g
    memoryOverhead: 5g
  driver_memory: 22g
  memory_fraction: 0.3
  storage_fraction: 0.5
  executor_memory: 28g
  heap_conf_str: '"-XX:+UseG1GC -XX:MaxGCPauseMillis=100 -Xms250m {{ heap_memory }} -XX:+UseStringDeduplication"'

submit_jobs:
  submit-all-jobs:
    hour: 02
    minute: 35

start_jobmanager:
  job-manager:
    hour: 02
    minute: 30
have_weekly_jobs: false

course_batch_status_updater_job_schedule: 60

run_competency_metrics_job:
  competency-metrics:
    hour: 00
    minute: 00
run_user_report_job:
  user-report:
    hour: 00
    minute: 40
run_course_report_job:
  course-report:
    hour: 01
    minute: 20
run_assessment_metrics_job:
  assessment-metrics:
    hour: 02
    minute: 00
run_user_enrolment_report_job:
  user-enrolment-report:
    hour: 02
    minute: 40
run_wfs_job:
  wfs:
    hour: 4
    minute: 15

run_monitor_job:    
  monitor-job-summ:
    hour: 03
    minute: 00

run_admin_user_reports_job:
  admin-user-reports-3AMIST:
    hour: 21
    minute: 30
  admin-user-reports-2PMIST:
    hour: 8
    minute: 30  

run_admin_geo_reports_job:
  admin-geo-reports-4AMIST:
    hour: 22
    minute: 30
  admin-geo-reports-3PMIST:
    hour: 9
    minute: 30     

run_assessment_aggregator_report_job:
  assessment-aggregator-report:
    hour: 18
    minute: 35

update_user_redis_cache:
  populate-user-cache:
    hour: 3
    minute: 00

index_content_model_druid:
  index_content:
    hour: 1
    minute: 00

run_etb_metrics_weekly_job:
  etb-metrics-weekly:
    hour: 23
    minute: 30
    weekday: 1

# These are the dummy times till sept30 for exhaust reports
#To-Do: Update time after 3.2.7 deployment

run_progress_exhaust:
  progress-exhaust:
    hour: 08
    minute: 00

run_response_exhaust:
  response-exhaust:
    hour: 09
    minute: 00

run_userinfo_exhaust:
  userinfo-exhaust:
    hour: 10
    minute: 00

run_collection_summary:
  collection-summary:
    hour: 09
    minute: 30

run_sourcing_summary:
  sourcing-summary:
    hour: 10
    minute: 30

run_cassandra_migration:
  cassandra-migration:
    hour: 19
    minute: 15

run_uci_private_exhaust_job:
  uci-private-exhaust:
    hour: 03
    minute: 00 

run_uci_response_exhaust_job:
  uci-response-exhaust:
    hour: 02
    minute: 00
    

service:
  search:
    url: http://{{private_ingressgateway_ip}}/search
    path: /v3/search

es_search_index: "compositesearch"
analytics:
  home: /mount/data/analytics
  soft_path: /mount/data/analytics
  paths: ['/mount/data/analytics', '/mount/data/analytics/logs', '/mount/data/analytics/logs/services', '/mount/data/analytics/logs/data-products', '/mount/data/analytics/tmp', '/mount/data/analytics/scripts', '/mount/data/analytics/models' ]
  scripts: ['model-config', 'replay-job', 'replay-updater', 'replay-utils', 'run-job', 'submit-job', 'start-jobmanager', 'submit-script']
  dockScripts: ['model-dock-config','run-dock-job']

# artifact versions
analytics_core_artifact_ver: "2.0"
analytics_ed_dataporducts_artifact_ver: "1.0"
scruid_artifact_ver: "2.4.0"

producer_env: "dev.sunbird"
analytics_job_manager_artifact: "job-manager-{{ analytics_core_artifact_ver }}.jar"
analytics_core_artifact: "analytics-framework-{{ analytics_core_artifact_ver }}.jar"
scruid_artifact: "scruid_2.11-{{ scruid_artifact_ver }}.jar"
analytics_batch_module_artifact: "batch-models-{{ analytics_core_artifact_ver }}.jar"
analytics_ed_dataporducts_artifact: "data-products-{{ analytics_ed_dataporducts_artifact_ver }}-distribution.tar.gz"
model_version: "2.0" 

submit_jobs_auth_token: "{{ sunbird_api_auth_token }}"
report_list_jobs_url: "{{ druid_report_url }}"

reports_container: "reports"

# Cluster vars
spark_cluster_user_password: ""
spark_cluster_user_name: ""
admin_name: "{{ spark_cluster_user_name }}"
admin_password: "{{ spark_cluster_user_password }}"
spark_cluster_name: "{{env}}-spark-cluster"

spark_cluster:
  executor_core: 5
  executor_memory: 19G
  num_executors: 5

analytics_cluster:
  home: "/tmp"

analytics_ed_dataporducts_jar_artifact: "data-products-{{ analytics_ed_dataporducts_artifact_ver }}.jar"  

spark_enable_dynamic_allocation: false
# Spark Cassandra config-vars
spark_cassandra_connection_timeout_millis: 30000
spark_cassandra_query_timeout_millis: 180000
spark_cassandra_query_max_rows_fetch_count: 1000
spark_sql_shuffle_partitions: 200

druid_report_postgres_db_name: druid
druid_report_postgres_db_username: druid


#Override this variable in production and point to druid rollup ingestion cluster 
# Example: "http://$rollup_cluster_ip:8090"
druid_rollup_cluster_ingestion_task_url: "http://{{groups['raw-overlord'][0]}}:8081"

# On demand Exhaust throttling vars
exhaust_batches_limit_per_channel: 30
exhaust_file_size_limit_bytes_per_channel: 1073741824

exhaust_parallel_batch_load_limit: 10
exhaust_user_parallelism: 200

data_exhaust_batch_limit_per_request: 20

# Start Of UCI Related Variables
uci_postgres_host: "dev-pg11.postgres.database.azure.com"
uci_encryption_key_base64: ""
uci_bot_postgres_database: uci-botdb
uci_fusionauth_postgres_database: uci-fusionauth
uci_postgres_user: "{{postgres.db_username}}"
uci_postgres_password: "{{postgres.db_password}}"

uci_postgres:
  conversation_db_name: "{{ uci_bot_postgres_database }}"
  conversation_db_host: "{{ uci_postgres_host }}"
  conversation_db_port: "5432"
  conversation_db_user: "{{ uci_postgres_user }}"
  conversation_db_psss: "{{ uci_postgres_password }}"
  conversation_table_name: "bot"
  fushionauth_db_name: "{{ uci_fusionauth_postgres_database }}"
  fushionauth_db_host: "{{ uci_postgres_host }}"
  fushionauth_db_port: "5432"
  fushionauth_db_user: "{{ uci_postgres_user }}"
  fushionauth_db_psss: "{{ uci_postgres_password }}"
  user_table_name: "users"
  user_registration_table_name: "user_registrations"
  user_identities_table_name: "identities"

uci_encryption_secret_key: "{{uci_encryption_key_base64}}"
uci_pdata_id: "{{uci_env|default('dev')}}.uci.{{sunbird_instance|default('igot')}}"

# End Of UCI Related Variables 

# Exhaust sanity check vars
cassandra_migrator_job_name: "Cassandra Migrator"

